.entryContainer {
    display: flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;
}
.entry {
    display: flex;
    flex-direction: column;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 10px;
    text-align: left;
    padding-left: 5px;
    width: 200px;
    height: fit-content;
}
.entryName {
    font-size: 1.2rem;
    margin-bottom: 5px;
    padding-left: 5px;
    display: flex;
    flex-direction: row;
}
.entryText {
    padding: 5px;
    font-family: monospace, sans-serif;
}