.inputField {
    min-height: 100vh;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
form {
    display: flex;
    flex-direction: column;
}
.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
}
label {
    padding-right: 15px;
}
button {
    width: fit-content;
    padding: 5px;
    margin: auto;
}